#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

@media only screen and (max-width: 700px) {

  #header{
      background-image: url("./assets/vjphonebackground.png");
      background-size: cover;
      background-position: bottom;
      height: auto;
  }

  .logo{
      width: 400px;
  }

  .header-text{
      margin-top: 100%;
      font-size: 18px;
  }

  .header-text h1{
      font-size: 20px;
  }

  nav .fas{
      display: block;
      font-size: 25px;
  }

  nav ul{
      background: #dcccf1;
      position: fixed;
      top: 0;
      right: -200px;
      width: 200px;
      height: 100vh;
      padding-top: 50px;
      z-index: 2;
      transition: right 0.5s;
  }

  nav ul li a::after{
      content: '';
      width: 0;
      height: 3px;
      background: #fff;
      position: absolute;
      left: 0;
      bottom: -6px;
      transition: 0.5s;
  }
  
  nav ul li a:hover::after{
      background-color: #fff;
      width: 100%;
  }

  nav ul li{
      display: block;
      margin: 25px;
  }

  nav ul .fas{
      position: absolute;
      top: 25px;
      left: 25px;
      cursor: pointer;
  }

  .sub-title{
      font-size: 40px;
  }

  .about-col-1, .about-col-2{
      flex-basis: 100%;
  }
  
  .about-col-1{
      margin-bottom: 30px;
  }

  .about-col-2{
      font-size: 14px;
  }

  .tab-links{
      font-size: 14px;
      margin-right: 20px;
  }
  
  .contact-left, .contact-right{
      flex-basis: 100%;
  }

  .copyright{
      font-size: 14px;
  }

}

@media only screen and (min-width: 700px){
  #header {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-end;
      padding: 10px;
      text-align: end;
      width: 100%;
      height: 100vh;
      background-image: url("./assets/vjmedbackground.png");
      background-size: auto;
      background-position: center;
  }

  nav ul li a::after{
      content: '';
      width: 0;
      height: 3px;
      background: #bca8ec;
      position: absolute;
      left: 0;
      bottom: -6px;
      transition: 0.5s;
  }
  
  nav ul li a:hover::after{
      background-color: #bca8ec;
      width: 100%;
  }

  nav .fas{
      display: none;
  }

  .header-text{
      margin-top: 20%;
      font-size: 30px;
  }
  
  .header-text h1{
      font-size: 40px;
      margin-top: 20px;
  }

  .about-col-1{
      flex-basis: 35%;
  }
}

html{
  scroll-behavior: smooth;
  background: linear-gradient(to bottom, #fff, #dcccf1);
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li{
  display: inline-block;
  list-style: none;
  flex: 1;
  margin: 10px 20px;
}

nav ul li a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 24px;
  position: relative;
}

#about{
  padding: 80px 0;
  color: #727272;
}

.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 img{
  width: 100%;
  border-radius: 15px;
}

.about-col-2{
  flex-basis: 60%;
}

.about-col-2 p{
  font-size: 18px;
}

#underline{
  text-decoration: underline;
  color: #ababab;
  font-size: 16px;
}

.sub-title{
  font-size: 60px;
  font-weight: 600;
  color: #000000;
}

.tab-titles{
  display: flex;
  margin: 20px 0 40px;
}

.tab-titles p:hover{
  color: #000;
}

.tab-links{
  margin-right: 50px;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links{
  color: #ababab;
}

.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background:#bca8ec;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after{
  width: 50%;
}

.tab-contents ul li{
  list-style: none;
  margin: 10px 0;
  font-size: 16px;
}

.tab-contents ul li span{
  color: #bca8ec;
  font-size: 20px;
}

.tab-contents{
  display: none;
}

.tab-contents.active-tab{
  display: block;
}

#projects{
  padding: 30px 0;
  margin: 10px;
}

.projects-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.projects-list div{
  background: #afa5c3;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.projects-list div i{
  font-size: 50px;
  margin-bottom: 30px;
}

.projects-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.projects-list div a{
  text-decoration: none;
  color: #000;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
  cursor: pointer;
}

.projects-list div a:hover{
  color: #fff;
}

#smol{
  font-size: 10px;
}

.projects-list div:hover{
  background: #bca8ec;
  transform: translateY(-10px);
}

#hobbies{
  padding: 50px 0;
  margin: 10px;
}

.hobby-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.hobby{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.hobby img{
  height: 400px;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer{
  width: fit-content;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.6), #bca8ec);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 40px;
  transition: height 0.5s ;
}

.layer h3{
  font-weight: 500;
  margin-bottom: 20px;

}

.layer a{
  margin-top: 20px;
  color: #d4ccf4;
  text-decoration: 18px;
  line-height: 60px;
  background: #000;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.hobby:hover img{
  transform: scale(1.1);
}

.hobby:hover .layer{
  height: 100%;
}

.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #bca8ec;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #000;
  transition: background 0.5s;
}

.btn:hover{
  background: #bca8ec;
}

#contact{
  margin: 10px;
}

.contact-left{
  flex-basis: 35%;
}

.contact-right{
  flex-basis: 60%;
}

.contact-left p{
  margin-top: 30px;
}

.contact-left p i{
  color: #bca8ec;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons{
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover{
  color:#bca8ec;
  transform: translateY(-5px);
}

.btn.btn2{
  display: inline-block;
  background: #bca8ec;
} 

.contact-right form{
  width: 100%;
}

form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #574d6b;
  padding: 15px;
  margin: 15px 0;
  color: #000;
  font-size: 18px;
  border-radius: 6px;
}

form btn2{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.copyright{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #afa5c3;
  font-weight: 300;
  margin-top: 20px;
}

.copyright i{
  color: #bca8ec;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
